<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS.

    Here you should place the cursor at Date field and manually type as DD-MM-YYYY.

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 6.0/6.0 MB 5.4 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Using legacy 'setup.py install' for sqlalchemy, since package 'wheel' is not installed.
Installing collected packages: sqlalchemy
  Running setup.py install for sqlalchemy: started
  Running setup.py install for sqlalchemy: finished with status 'done'
Successfully installed sqlalchemy-1.3.9
Collecting ibm_db_sa
  Downloading ibm_db_sa-0.3.8-py3-none-any.whl (30 kB)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\python39\lib\site-packages (from ibm_db_sa) (1.3.9)
Collecting ibm-db>=2.0.0
  Downloading ibm_db-3.1.2.tar.gz (1.1 MB)
     ---------------------------------------- 1.1/1.1 MB 6.2 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (pyproject.toml): started
  Building wheel for ibm-db (pyproject.toml): finished with status 'done'
  Created wheel for ibm-db: filename=ibm_db-3.1.2-py3-none-any.whl size=29943327 sha256=da5c42fd2e41bc41a54a9dad3b27a6ca0a0e619370a7e7e421b1a486efce6984
  Stored in directory: c:\users\tuana\appdata\local\pip\cache\wheels\98\d8\e6\f764d4076889f8d39fae98785614d0451b237cb24a6ea4575e
Successfully built ibm-db
Installing collected packages: ibm-db, ibm_db_sa
Successfully installed ibm-db-3.1.2 ibm_db_sa-0.3.8
Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting ipython-genutils>=0.1.0
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
     ---------------------------------------- 42.3/42.3 kB ? eta 0:00:00
Requirement already satisfied: six in c:\users\tuana\appdata\roaming\python\python39\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\python39\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: ipython>=1.0 in c:\users\tuana\appdata\roaming\python\python39\site-packages (from ipython-sql) (8.4.0)
Collecting prettytable<1
  Using cached prettytable-0.7.2-py3-none-any.whl
Requirement already satisfied: colorama in c:\users\tuana\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\tuana\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\tuana\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\tuana\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: traitlets>=5 in c:\users\tuana\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (5.2.2.post1)
Requirement already satisfied: setuptools>=18.5 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (58.1.0)
Requirement already satisfied: stack-data in c:\users\tuana\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\tuana\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\tuana\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (3.0.29)
Requirement already satisfied: pygments>=2.4.0 in c:\users\tuana\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (2.12.0)
Requirement already satisfied: backcall in c:\users\tuana\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\tuana\appdata\roaming\python\python39\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\tuana\appdata\roaming\python\python39\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\tuana\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\tuana\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\tuana\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Installing collected packages: prettytable, ipython-genutils, sqlparse, ipython-sql
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.2

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [172]:
%sql mysql://admin:EqucVNrsgoNGxMQhaIex@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample
%sql USE DataScienceSample

 * mysql://admin:***@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample
0 rows affected.

[]

In [173]:
import pandas as pd

spacex_table = %sql select * from Spacex
#show the key of resutl set
spacex_table.keys

 * mysql://admin:***@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample
101 rows affected.

['Date',
 'Time (UTC)',
 'Booster_Version',
 'Launch_Site',
 'Payload',
 'PAYLOAD_MASS__KG_',
 'Orbit',
 'Customer',
 'Mission_Outcome',
 'Landing _Outcome']

In [174]:
#change result set to pandas dataframe
spacex_df = pd.DataFrame(spacex_table, columns=spacex_table.keys)

In [175]:
spacex_table.keys

['Date',
 'Time (UTC)',
 'Booster_Version',
 'Launch_Site',
 'Payload',
 'PAYLOAD_MASS__KG_',
 'Orbit',
 'Customer',
 'Mission_Outcome',
 'Landing _Outcome']

In [99]:
%sql ibm_db_sa://qlf87383:ZltJ78OvapdHPieU@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud/bludb

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql://admin:***@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample'])
DLL load failed while importing ibm_db: The application has failed to start because its side-by-side configuration is incorrect. Please see the application event log or use the command-line sxstrace.exe tool for more detail.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql://admin:***@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample'])

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [176]:
%sql SELECT DISTINCT Launch_Site FROM Spacex

 * mysql://admin:***@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample
4 rows affected.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

In [177]:
print(spacex_df['Launch_Site'].unique())

['CCAFS LC-40' 'VAFB SLC-4E' 'KSC LC-39A' 'CCAFS SLC-40']

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [178]:
spacex_df[spacex_df['Launch_Site'].str.startswith('CCA')].head(5)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [179]:
%sql SELECT * FROM Spacex WHERE Launch_Site LIKE 'CCA%' LIMIT 5

 * mysql://admin:***@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample
5 rows affected.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [180]:
print(spacex_df.loc[spacex_df['Customer'] == 'NASA (CRS)', 'PAYLOAD_MASS__KG_'].sum())

45596

In [181]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) AS Total_PayloadMass FROM Spacex WHERE Customer LIKE 'NASA (CRS)'

 * mysql://admin:***@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample
1 rows affected.

[(Decimal('45596'),)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [182]:
print(spacex_df.loc[spacex_df['Booster_Version'].str.startswith('F9 v1.1'), 'PAYLOAD_MASS__KG_'].mean())

2534.6666666666665

In [183]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) AS Avg_PayloadMass FROM Spacex WHERE Booster_Version = 'F9 v1.1'

 * mysql://admin:***@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample
1 rows affected.

[(Decimal('2928.4000'),)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [184]:
spacex_df.loc[spacex_df['Landing _Outcome'] == 'Success (ground pad)', 'Date'].min()

'01-05-2017'

In [185]:
%%sql SELECT MIN(DATE(STR_TO_DATE(Date, '%d-%m-%Y'))) AS First_SuccessLanding FROM Spacex 
        WHERE `Landing _Outcome` = 'Success (ground pad)'

 * mysql://admin:***@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample
1 rows affected.

[(datetime.date(2015, 12, 22),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [186]:
spacex_df.loc[(spacex_df['PAYLOAD_MASS__KG_'] > 4000) & (spacex_df['PAYLOAD_MASS__KG_'] < 6000) & (spacex_df['Landing _Outcome'] == 'Success (drone ship)'), 'Booster_Version']

23       F9 FT B1022
27       F9 FT B1026
31    F9 FT  B1021.2
42    F9 FT  B1031.2
Name: Booster_Version, dtype: object

In [187]:
%%sql SELECT Booster_Version From Spacex WHERE `Landing _Outcome` = 'Success (drone ship)'
        AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000

 * mysql://admin:***@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample
4 rows affected.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [188]:
%sql SELECT COUNT(Mission_Outcome) AS MissionSuccess FROM Spacex WHERE Mission_Outcome LIKE 'Success%'

 * mysql://admin:***@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample
1 rows affected.

[(100,)]

In [189]:
%sql SELECT COUNT(Mission_Outcome) AS MissionSuccess FROM Spacex WHERE Mission_Outcome LIKE 'Failure%'

 * mysql://admin:***@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample
1 rows affected.

[(1,)]

In [190]:
import numpy as np
print("total number of successful landing outcome: ", np.sum(spacex_df['Mission_Outcome'].str.contains('Success')))
print("total number of failure landing outcome: ", np.sum(spacex_df['Mission_Outcome'].str.contains('Failure')))

total number of successful landing outcome:  100
total number of failure landing outcome:  1

In [191]:
spacex_df['Mission_Outcome'].unique()

array(['Success', 'Failure (in flight)',
       'Success (payload status unclear)', 'Success '], dtype=object)

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [192]:

%sql select Booster_version from Spacex where PAYLOAD_MASS__KG_ in (select max(PAYLOAD_MASS__KG_) from Spacex)

 * mysql://admin:***@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample
12 rows affected.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [193]:
spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
spacex_df.loc[(spacex_df['Date'].dt.year == 2015) & (spacex_df['Landing _Outcome'] == 'Failure (drone ship)'), 'Launch_Site']

C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '22-05-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '29-09-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '18-04-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '14-07-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '21-09-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '14-04-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '27-04-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '28-06-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '22-12-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '17-01-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '27-05-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '15-06-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '18-07-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '14-08-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '14-01-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '19-02-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '16-03-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '30-03-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '15-05-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '23-06-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '25-06-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '14-08-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '24-08-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '30-10-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '15-12-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '23-12-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '31-01-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '22-02-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '30-03-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '18-04-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '22-05-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '29-06-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '22-07-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '25-07-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '15-11-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '23-12-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '22-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '24-05-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '25-07-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '17-12-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '19-01-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '29-01-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '17-02-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '18-03-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '22-04-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '30-05-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '13-06-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '30-06-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '20-07-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '18-08-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '30-08-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '18-10-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '24-10-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '16-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '21-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
C:\Users\TuanA\AppData\Local\Temp\ipykernel_31316\3522083594.py:1: UserWarning: Parsing '25-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])

13    CCAFS LC-40
16    CCAFS LC-40
Name: Launch_Site, dtype: object

In [194]:
failedLanding_2015 = spacex_df[['Landing _Outcome', 'Booster_Version', 'Launch_Site', 'Date']]
failedLanding_2015 = failedLanding_2015.loc[(failedLanding_2015['Landing _Outcome'] == 'Failure (drone ship)') & (failedLanding_2015['Date'].dt.year == 2015)]
failedLanding_2015.head()

        Landing _Outcome Booster_Version  Launch_Site       Date
13  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40 2015-10-01
16  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40 2015-04-14

In [208]:
%%sql SELECT Booster_Version, Launch_Site, `Landing _Outcome`, Date FROM Spacex 
        WHERE `Landing _Outcome` = 'Failure (drone ship)' 
        AND STR_TO_DATE(Date, '%d-%m-%Y') BETWEEN '2015-01-01' AND '2015-12-31'

 * mysql://admin:***@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample
2 rows affected.

[('F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)', '10-01-2015'),
 ('F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)', '14-04-2015')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [196]:
rankOutcome = spacex_df[(spacex_df['Landing _Outcome'] == 'Failure (drone ship)') | (spacex_df['Landing _Outcome'] == 'Success (ground pad)')]
rankOutcome = rankOutcome[(rankOutcome['Date'] >= '2010-06-04') & (rankOutcome['Date'] <= '2017-03-20')]
rankOutcome['rank'] = rankOutcome['Landing _Outcome'].rank(ascending=False)
rankOutcome.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome,rank
13,2015-10-01,09:47:00,F9 v1.1 B1012,CCAFS LC-40,SpaceX CRS-5,2395,LEO (ISS),NASA (CRS),Success,Failure (drone ship),8.0
16,2015-04-14,20:10:00,F9 v1.1 B1015,CCAFS LC-40,SpaceX CRS-6,1898,LEO (ISS),NASA (CRS),Success,Failure (drone ship),8.0
19,2015-12-22,01:29:00,F9 FT B1019,CCAFS LC-40,OG2 Mission 2 11 Orbcomm-OG2 satellites,2034,LEO,Orbcomm,Success,Success (ground pad),3.0
20,2016-01-17,18:42:00,F9 v1.1 B1017,VAFB SLC-4E,Jason-3,553,LEO,NASA (LSP) NOAA CNES,Success,Failure (drone ship),8.0
21,2016-04-03,23:35:00,F9 FT B1020,CCAFS LC-40,SES-9,5271,GTO,SES,Success,Failure (drone ship),8.0

In [210]:
%%sql SELECT `Landing _Outcome`, COUNT(`Landing _Outcome`) FROM Spacex 
        WHERE STR_TO_DATE(Date, '%d-%m-%Y') BETWEEN '2010-06-04' AND '2017-03-20'
        GROUP BY `Landing _Outcome` 
        ORDER BY COUNT(`Landing _Outcome`) DESC

 * mysql://admin:***@aws-sample.cvnvtj78zhrx.ca-central-1.rds.amazonaws.com:3306/DataScienceSample
8 rows affected.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Success (ground pad)', 3),
 ('Failure (parachute)', 2),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>